
<head>
<meta charset="UTF-8" />

</head>
<div>
	<button class="btn btn-primary btn-block" data-toggle="modal"
		data-target="#myModal" ng-click="creer()">Nouvel quantité</button>
</div>


<div>
	<div class="card mb-3">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="quantite in quantities">
					<td></td>
					<td>{{quantite.quantite}}</td>
					<td>{{quantite.dateModification}}</td>
					<td>
						<button class="btn btn-small" type="submit"
							ui-sref="edit({id:quantite.idQuantite})">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Ajout d'une nouvelle quantité</h4>
			</div>
			<div class="modal-body">
				<p>Valeur</p>
				<input id="newQuantity" ng-model="quantite.quantite" type="text" />
			</div>
			<input name="Valider" class="btn btn-primary btn-block"
				ng-click="validationQuantite(quantite)" type="submit"
				data-dismiss="modal"></input>

			<div class="modal-footer">
				<button type="button" ng-click="close()" class="btn"
					data-dismiss="modal">close</button>
			</div>
		</div>

	</div>
</div>




