<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<form>
		<div style="text-align: center; margin: 0 auto;">


			<h2>Formulaire d'ajout d'un nouveau fournisseur</h2>

			<p>
				<i> Renseignez ici les informations du nouveau fournisseur </i>
			</p>

			<div class="cadreForm" >

				<label> Nom </label> <br /> <input
					ng-model="fournisseur.nomFournisseur" placeholder="Nom" type="text" />
				<br /> <br /> <label> Adresse </label> <br /> <input
					ng-model="fournisseur.adresse" placeholder="adresse" type="text" />
				<br /> <br /> <label> Email </label> <br /> <input
					ng-model="fournisseur.email" placeholder="vvvvv@xxx.yy"
					type="email" /> <br /> <br /> <label> Numero de
					Telephone </label> <br /> <input ng-model="fournisseur.telephone"
					placeholder="telephone" type="text" /> <br /> <br /> <br /> <input
					ng-click="validationFct(fournisseur)"
					class="btn btn-primary btn-block" type="submit"></input> <br /> 
				<button class="btn btn-primary btn-block" ng-click="annulerFct()">Annuler</button>

			</div>
		</div>
	</form>
</body>
</html>