
<form>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> Liste des Produits
		</div>
		
		<button style="margin-top: 20px" class="btn btn-primary btn-block" type="submit" ui-sref="formProduit">Ajouter</button>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" id="dataTable"
					cellspacing="0">
					<thead>
						<tr>
							<th>ID Produit</th>
							<th>Intitule</th>
							<th>Frais ?</th>
							<th>Perissable ?</th>
							<th>Categorie</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="produit in produits">
							<td>{{produit.idProduit}}</td>
							<td>{{produit.intitule}}</td>
							<td>{{produit.frais}}</td>
							<td>{{produit.perissable}}</td>
							<td>{{produit.categorie.nomCategorie}}</td>
							<td><button class="btn btn-primary btn-block" type="submit" ui-sref="detailProduit({id:produit.idProduit})">Modifier</button></td>
							<td><button class="btn btn-primary btn-block" type="submit" ng-click="deleteProduit(produit.idProduit)">Supprimer</button></td>							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer small text-muted"></div>
	</div>
</form>
